In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
wiki_url = 'https://en.wikipedia.org/wiki/Shark_Tank_India'
#identifying searcahble class on target table
style_val="text-align:center; font-size:85%; line-height:17px; width:auto;"

#assigning response
response = requests.get(wiki_url)
#creating soup object by parsing html data
soup= BeautifulSoup(response.text, 'html.parser')

#finding required table from the parsed data
winning_teams_table = soup.find('table',attrs={'style':style_val})

#converting dataframe, using first index as it returns a list
df = pd.read_html(str(winning_teams_table))[0]

In [3]:
df = df.iloc[:,[0,2,3,4]]
ep = list(df['Ep. No.']['Ep. No.'])
brand = list(df['Brand']['Brand'])
idea = list(df['Idea']['Idea'])
deal = list(df['Deal']['Deal'])

df = pd.DataFrame({'Episode':ep,'Brand':brand,'Idea':idea,'Deal':deal})
df.head()

  Episode  ...                        Deal
0       1  ...    ₹75 lakhs for 16% equity
1       1  ...    ₹40 lakhs for 50% equity
2       1  ...    ₹25 lakhs for 30% equity
3       2  ...  ₹70 lakhs for 2.75% equity
4       2  ...                     No Deal

[5 rows x 4 columns]

In [4]:
no_deal=[]
for i in range(len(df)):
    if df['Deal'][i] == 'No Deal':
        no_deal.append(i)
df = df.drop(no_deal).reset_index(drop=True)

In [5]:
df.head()

  Episode  ...                        Deal
0       1  ...    ₹75 lakhs for 16% equity
1       1  ...    ₹40 lakhs for 50% equity
2       1  ...    ₹25 lakhs for 30% equity
3       2  ...  ₹70 lakhs for 2.75% equity
4       3  ...     ₹75 lakhs for 6% equity

[5 rows x 4 columns]

In [6]:
df = df.drop([len(df)-1,len(df)-2]).reset_index(drop=True)

In [7]:
for i in range(len(df)):
    if 'lakh' not in df["Deal"][i].lower() and 'crore' not in df["Deal"][i].lower():
        lst = df["Deal"][i].split()
        lst.insert(1,'rupee')
        df["Deal"][i] = " ".join(lst)

In [8]:
for i in range(len(df)):
    if len(df['Deal'][i].split()) > 5:
        new_lst = df['Deal'][i].split()[:5]
        df['Deal'][i] = " ".join(new_lst)
df['Deal'][39] = '₹40 Lakhs for 3% equity'

In [9]:
val=[]
in_cr=[]

for i in range(len(df)):
    if 'lakh' in df['Deal'][i].lower():
        
        num = (int((df["Deal"][i].split())[0][1:]))/100
        pct = float((df["Deal"][i].split())[3][:-1])
        val.append(str(round(num * (100/pct),2)) + " Cr")
        r = round(num * (100/pct),2)
        in_cr.append(r)
    
    elif 'crore' in df['Deal'][i].lower():
        
        num = float((df["Deal"][i].split())[0][1:])
        pct = float((df["Deal"][i].split())[3][:-1])
        val.append(str(round(num * (100/pct),2)) + " Cr")
        r = round(num * (100/pct),2)
        in_cr.append(r)

    else:
        
        num = float((df["Deal"][i].split())[0][1:])
        pct = float((df["Deal"][i].split())[3][:-1])
        val.append(str(round(num * (100/pct),2)) + " Rs")
        r = (num * (100/pct)/10000000)
        in_cr.append(r)

In [10]:
df['Valuation'] = val
df['Valuation in Crore'] = in_cr
df.sort_values(by=['Valuation in Crore'])[::-1].reset_index(drop=True)

   Episode                           Brand  ...  Valuation Valuation in Crore
0        5                     Revamp Moto  ...   66.67 Cr          66.670000
1       13                           Annie  ...    35.0 Cr          35.000000
2        2                      Tagz Foods  ...   25.45 Cr          25.450000
3       27              Insurance Samadhan  ...    25.0 Cr          25.000000
4        7              Raising Superstars  ...    25.0 Cr          25.000000
5       26                     Rare Planet  ...   21.67 Cr          21.670000
6        8                    Beyond Snack  ...    20.0 Cr          20.000000
7       14               The Renal Project  ...   16.67 Cr          16.670000
8       25             Sunfox Technologies  ...   16.67 Cr          16.670000
9       22                  Hair Originals  ...    15.0 Cr          15.000000
10      16                    Bamboo India  ...   14.29 Cr          14.290000
11      20                 The State Plate  ...   13.33 Cr          13.330000
12       3                       Peeschute  ...    12.5 Cr          12.500000
13      10                       EventBeep  ...    10.0 Cr          10.000000
14      17                   Aas Vidyalaya  ...    10.0 Cr          10.000000
15      13                 The Yarn Bazaar  ...    10.0 Cr          10.000000
16      20                        IN A CAN  ...    10.0 Cr          10.000000
17       4                          Bummer  ...    10.0 Cr          10.000000
18       9                           Altor  ...    7.14 Cr           7.140000
19      28                        Humpy A2  ...    6.67 Cr           6.670000
20       6                     Skippi Pops  ...    6.67 Cr           6.670000
21      21                      Get a Whey  ...    6.67 Cr           6.670000
22      19                         WeSTOCK  ...     6.0 Cr           6.000000
23       8                   Motion Breeze  ...     5.0 Cr           5.000000
24       9                           Ariro  ...     5.0 Cr           5.000000
25      23                    Namhya Foods  ...     5.0 Cr           5.000000
26      16                    Beyond Water  ...     5.0 Cr           5.000000
27      12                  Auli Lifestyle  ...     5.0 Cr           5.000000
28       1             BluePine Industries  ...    4.69 Cr           4.690000
29      17                      RoadBounce  ...     4.0 Cr           4.000000
30      16                       Let's Try  ...    3.75 Cr           3.750000
31      25                       PawsIndia  ...    3.33 Cr           3.330000
32      11        ARRCOAT Surface Textures  ...    3.33 Cr           3.330000
33      15                Hammer Lifestyle  ...     2.5 Cr           2.500000
34       6                    Menstrupedia  ...     2.5 Cr           2.500000
35      13                       Caragreen  ...     2.5 Cr           2.500000
36      17           Find Your Kicks India  ...     2.0 Cr           2.000000
37       4                            CosI  ...     2.0 Cr           2.000000
38       8  Vivalyf Innovations- Easy Life  ...    1.68 Cr           1.680000
39      28        Gold Safe Solutions Ind.  ...    1.67 Cr           1.670000
40      12                            LOKA  ...    1.67 Cr           1.670000
41      11                           Farda  ...     1.5 Cr           1.500000
42      10                        Meatyour  ...     1.5 Cr           1.500000
43      21                 The Quirky Nari  ...    1.46 Cr           1.460000
44      24                    The Sass Bar  ...    1.43 Cr           1.430000
45       3                            NOCD  ...    1.33 Cr           1.330000
46      10                         Nuutjob  ...    1.25 Cr           1.250000
47      15                             PNT  ...     1.0 Cr           1.000000
48      18                            Otua  ...     1.0 Cr           1.000000
49      26                 Isak Fragrances  ...     1.0 Cr           1.000000
50       1             Heart up my Sleeves  ...    0.83 Cr           0.830000
51       1                   Booz scooters  ...     0.8 Cr           0.800000
52      21                  Sid 07 Designs  ...    0.33 Cr           0.330000
53      24                     KG Agrotech  ...    0.25 Cr           0.250000
54      27              Watt Technovations  ...  2525.0 Rs           0.000253
55      15                         Cocofit  ...   100.0 Rs           0.000010

[56 rows x 6 columns]